#PARAM_FOND_securise=1
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
#INCLURE "template/meta.html"
#INCLURE "template/tag_stats.html"
</head>
<body>
<div id="principale">
	<div id="interface">
#INCLURE "template/entete.html"
#INCLURE "template/menu.html"
		<div id="chemin" class="grid_12"><a href="#URLSOMMAIRE">::accueil::</a> / ::compte::</div>
		<div id="contenu" class="grid_12">
			<h2>::compte:: </h2>
			<div class="adresseDeFacturation grid_6">
				<h3>::coordonnees::</h3>
				<div class="contenu">
                    #CLIENT_RAISON #CLIENT_PRENOM #CLIENT_NOM<br />
                    #CLIENT_ADRESSE1 #CLIENT_ADRESSE2 #CLIENT_ADRESSE3<br />
                    #CLIENT_CPOSTAL #CLIENT_VILLE<br />
                    #CLIENT_PAYS<br/>
                    ::telfixe:: : #CLIENT_TELFIXE<br />
                    ::telport:: : #CLIENT_TELPORT<br />
                    E-mail : #CLIENT_EMAIL
				</div>
				<a href="#URLFOND(compte_modifier)" class="modifierOuAjouter bouton">::modifcomptemdp::</a>
			</div>
			<div class="adresseDeLivraison grid_6">
				<h3>::adresseslivraison:: </h3>
				<THELIA_adrcours type="ADRESSE" adresse="#ADRESSE_ACTIVE">
				<div class="contenu">
                    #RAISON #PRENOM #NOM<br />
                    #ADRESSE1 #ADRESSE2 #ADRESSE3<br />
                    #CPOSTAL #VILLE<br />
                    <THELIA_pays type="PAYS" id="#PAYS">#TITRE</THELIA_pays>
				</div>
                                <T_adrmodcours>
                                    <THELIA_adrmodcours type="ADRESSE" adresse="#ADRESSE_ACTIVE" defaut="0">
				<a href="#URLFOND(livraison_modifier,adresse=#ID)" class="modifierOuAjouter bouton">::modifadresse::</a>
                                    </THELIA_adrmodcours>
                                </T_adrmodcours>
                                    <a href="#URLFOND(compte_modifier)" class="modifierOuAjouter bouton">::modifcomptemdp::</a>
                                <//T_adrmodcours>
				</THELIA_adrcours>
				<h4>::modifautreadresselivraison::</h4>
				<ul>
                                    <THELIA_adr type="ADRESSE" client="#CLIENT_ID" exclusion="#ADRESSE_ACTIVE">
                                    <li><a href="#URLFOND(livraison_modifier,adresse=#ID)">#LIBELLE</a> (<a href="#SUPPRURL">::supprimer::</a>)</li>
                                    </THELIA_adr>
                                </ul>
                <a href="#URLFOND(livraison_adresse)" class="modifierOuAjouter bouton">::ajoutnouvelleadresse::</a>
			</div>
			<div class="grid_12">
	            <h3>::mescommandes::</h3>
	            <T_cmd>
	            <table id="table-panier">
	            	<thead>
	                <tr>
	                    <th>::numcommande:: </th>
	                    <th>Date</th>
	                    <th>::montant::</th>
	                    <th>::statut::</th>
	                    <th>::voircommande::</th>
	                </tr>
	            	</thead>
	            	<tbody>
	                <THELIA_cmd type="COMMANDE" client="#CLIENT_ID">
	                <tr>
	                    <td class="ligne">#REF</td>
	                    <td class="ligne">#DATE</td>
	                    <td class="ligne">#TOTCMDPORT €</td>
	                    <td class="ligne">#STATUT</td>
	                    <td class="ligne"><a href="#URLFOND(commande_detail,commande=#REF)">::voircommande::</a></td>
	                </tr>
	                </THELIA_cmd>
	            	</tbody>
	            </table>
				</T_cmd>
				<h4>::nocommande::</h4>
				<//T_cmd>
			</div>
		</div>
	</div>
</div>
#INCLURE "template/pied.html"
#INCLURE "template/signature.html"
</body>
</html>


